* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;   
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.Index {
    background: linear-gradient(345deg,rgba(255, 0, 0, 0.658), rgb(230, 187, 0)) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.PetFood {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.header{
    padding: 35px 0px;
    color: black;
}

.container{
    max-width: 84.5%;
    margin: 0 auto; 
    padding: 0 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
}

.menu-item{
    padding-right: 75px;
}

.menu-link{
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

.logo{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 18px;
    list-style: none;
    display: flex;
    font-weight: bold;
}

.mid-img{
    float: right;
    width: 49%; 
    height: auto; /* Поддерживаем соотношение сторон для изображения */
}

h1{
    font-size: 96px;
    line-height: 96px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    display: flex;
    padding-top: 75px;
}

h2{
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
}

.mid-btn{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(345deg,rgba(83, 8, 145, 0.575), rgb(37, 26, 141)) ;
    padding: 20px 30px 20px;
    border-radius: 25px;
    box-shadow: 5px 10px 20px rgb(43, 12, 116);
}

.shop{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

nav ul li ul{
    position: absolute;
    top: 8%;
    width: 180px;
    background: white;
    display: none;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid;
}

nav ul li:hover > ul{
    display: initial;
    font-size: 24px;
    line-height: 24px;

}

.LeftButton{
    font-size: 24px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    display: flex;
    padding-top: 30px;
    padding-bottom: 5px;
}

.PodLeftButton{
    font-size: 20px;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    display: flex;
    padding-top: 25px;
    padding-left: 50px;
}

.Poisk{
    font-size: 20px;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    display: flex;
    padding-top: 10px;
    padding-left: 550px;
}

/* Карточка товара */

.card {
    background-color: #fff;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 40px #434040;
    margin: auto;
    margin-top: 20px;
    display: right;
    margin-bottom: 50px;
}

.card-img {
    border-radius: 11px;
    height: 200px;
    width: 200px;
}


.card-title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.card-sub {
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
}

.btn-keeper {
    margin-top: 20px;
    text-align: center;
}

.btn {
    background-color: #846A6A;
    padding: 7px 12px;
    text-decoration: none;
    color: #eee;
    border-radius: 5px;
    transition: background-color 0.5s linear;
}

.btn:hover {
    background-color: #b90e0e;
}

.criteria {
    float: left;
    width: 300px; /* Ширина блока с критериями поиска */
}

.products {
    margin-left: 20px; /* Отступ слева для карточек товаров */
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    justify-content: left; /* Центрируем элементы по горизонтали */
}

.wrap {
    margin-left: 100px;
    margin-bottom: 10px;
    margin-right: 60px;
}


.row{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




.menu-item {
    position: relative;
}

/* Стили для выпадающего меню */
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(36, 36, 36, 0.829); 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000; /* Помещаем подменю поверх всего остального */
}

.menu-item:hover .submenu {
    display: block;
}

.submenu li {
    margin-bottom: 5px;
}

.submenu a {
    color: #fff; 
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s; 
}

.submenu a:hover {
    background: rgba(255, 255, 255, 0.1); 
    color: rgba(255, 255, 255, 0.7); 
}



/* Стиль для подвала */
.footer {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    margin-top: 315px; 
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.about h3,
.links h3,
.contact-form h3 {
    margin-bottom: 20px;
}

.contact span {
    display: block;
    margin-bottom: 10px;
}

.socials a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.links ul li {
    margin-bottom: 10px;
}

.contact-form .text-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form .btn {
    display: inline-block;
    background-color: #008cba;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.contact-form .btn:hover {
    background-color: #026c81;
}





 /* Пример стилей формы в соответствии с вашим дизайном */
 .order-form-overlay {
    display: none; /* Изначально слой с затемнением скрыт */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный цвет */
    z-index: 9998; /* Ниже формы, но выше всего остального контента */
}
.order-form-container {
    display: none; /* Форма изначально скрыта */
    background-color: #f0f0f0; /* Цвет фона формы */
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень для выделения */
}
.form-control {
    margin-bottom: 10px;
}
.form-control label {
    display: block;
    font-weight: bold;
    color: #333; /* Цвет текста */
}
.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="tel"],
.form-control textarea,
.form-control select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 5px;
}
.form-control .btn {
    background-color: #4CAF50; /* Цвет кнопки */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-control .btn-close {
    background-color: #f44336; /* Цвет кнопки закрытия */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    font-size: 20px; /* Увеличение размера кнопки */
    margin-top: -30px; /* Смещение кнопки вверх */
    margin-right: -30px; /* Смещение кнопки вправо */
}
.form-control .btn-close:hover {
    background-color: #d32f2f; /* Цвет кнопки закрытия при наведении */
}


/* Общие стили */

/* Адаптивные стили */
@media screen and (max-width: 768px) {
    /* Скрытие изображения собаки */
    .mid-img {
        display: none;
    }

    /* Стилизация слогана */
    h1 {
        font-size: 35px; /* Увеличиваем размер шрифта */
        line-height: 35px; /* Увеличиваем межстрочный интервал */
        padding-top: 80px;

    }

    /* Стилизация подзаголовка */
    h2 {
        font-size: 24px;
        line-height: 24px;
        padding-top: 20px; /* Увеличиваем верхний отступ */

    }

    /* Стилизация основной кнопки */
    .mid-btn {
        font-size: 16px;
        line-height: 16px;
        padding: 15px 25px;
    }
}





/* Бургер меню*/
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .shop {
        display: none;
    }
}

.burger-menu {
    display: none;
    cursor: pointer;
    z-index: 9999;
}

.burger-menu .line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition: transform 0.4s, opacity 0.4s;
}

.menu.active {
    display: none;
}

@media screen and (max-width: 768px) {
    .burger-menu {
        display: block;
        position: absolute;
        top: 40px;
        right: 35px;
    }

    .menu.active {
        display: block;
        position: absolute;
        top: 90px;
        right: 0;
        background: rgba(36, 36, 36, 0.829);
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 9998;
        color: white;
    }

    .burger-menu.active .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .burger-menu.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}





/* Стиль для сервиса */
.Service {
    background-color: #fff; /* Белый фон */
    font-family: "Montserrat", sans-serif; /* Новый шрифт */
}

.about-company {
    padding-left: 500px;
}

.about-company h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -30px;
}

.about-company h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-company ul {
    margin-left: 30px;
    list-style-type: none; /* Убираем стандартные маркеры списка */
}

.about-company ul li {
    margin-bottom: 20px;
    font-size: 20px;
    position: relative;
}

.about-company ul li::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color:rgba(206, 134, 0, 0.699); /* Оранжевый цвет точки */
}

/* Свайпер */
.swiper-container {
    width: 40%;
    margin: auto;
    margin-top: 300px;
    position: relative;
}

.swiper-slide img {
    width: 70%;
    height: auto;
    object-fit: cover;
    padding-left: 130px;
}

.slide-description {
    position: absolute;
    top: -300px;
    left: 130px;
    color: black;
    z-index: 1;
}

.slide-description h1{
    font-size: 36px;
    margin-bottom: -20px;
    margin-top: -15px;
}
.slide-description h2{
    font-size: 24px;

}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color:rgba(0, 0, 0, 0.699);
    padding: 10px;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 50%;
    z-index: 10;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}


.header{
    background-color: rgba(255, 168, 54, 0.904);
}

.footer-section h3{
    padding-bottom: 5px;
}

.contact span{
    padding-top: 15px;

}


/* График */
.Graf{
    font-size: 45px;
    position: relative;
    text-align: center;
    padding-top: 150px;
}

.Graf hr{
    border: none;
    height: 3px;
    background-color: rgba(243, 150, 28, 0.904); /* Цвет линии */
    width: 35%; /* Ширина линии */
    margin: 10px auto; 
}
#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top: 50px;
}

#myChart {
    width: 50%;
}


/* Таблица */
.CompTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}


.CompTable th, .CompTable td {
    border: 1px solid #f5901e;
    padding: 10px;
    text-align: left;
}

.CompTable th {
    background-color: #f5901e;
    color: white;
}

.CompTable tr:nth-child(even) {
    background-color: #ffe8d6;
}

.CompTable tr:hover {
    background-color: #ffd199;
}






